.inicio {
  max-width: 820px;
  margin: 0 auto;
  padding: 90px 40px 60px;
}

.inicio h1 {
  font-size: 48px;
  font-weight: 800;
}

.inicio h2 {
  font-size: 20px;
  color: var(--cinza);
}

.inicio p {
  font-size: 15px;
  color: var(--cinza);
}